MYSQL_DSN=root:password@tcp(host.docker.internal:3306)/one_proxy?charset=utf8mb4&parseTime=true&loc=Asia%2FShanghai
JWT_SIGNING_KEY=change-me
BOOTSTRAP_TOKEN_TTL=15m
NODE_CERT_TTL=720h
PUBLIC_CERT_RENEW_WINDOW=168h
SCHEDULER_INTERVAL=1m
SESSION_TTL=720h
NODE_HEARTBEAT_TTL=2m
PUBLIC_CERT_PROVIDER=lets_encrypt
REDIS_URL=redis://one-proxy-redis:6379/0
PROXY_TOKEN_CACHE_TTL=24h
PORT=2886
WEB_PORT=2885
EDGE_ADDR=:2886
GUACD_ADDR=guacd:4822
TZ=Asia/Shanghai
